# Aumento de productividad: monitoreo

In [6]:
import pandas as pd
import pyodbc as odbc
import matplotlib.pyplot as plt

In [5]:
# Conectarse y leer datos de cantidad de asesores activos
servidor = "BTBICC2-VM"
base = "BTMM-ModeloDeRentabilidadSostenida"
sql_conector = odbc.connect('Driver={SQL Server};'
                         f'Server={servidor};'
                         f'Database={base};'
                         'Trusted_Connection=yes;')

with open("../db/Query/Conteo_activos.sql", "r") as q:
    query = q.read()

arch = pd.read_sql(query, sql_conector)
arch.head(3)

C:\Users\mariajose_chinchilla\AppData\Local\Temp\ipykernel_14940\4252131239.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  arch = pd.read_sql(query, sql_conector)

  Fecha_Datos                       Nombre Plaza  Conteo
0  2024-01-31   Asistente De Servicios Bancarios     295
1  2024-01-31  Asesor De Bienestar Financiero Bt     283
2  2024-01-31                   Receptor Pagador     444

In [ ]:
# Graficar evoluci√≥n en el tiempo
plt.scatter(arch)